.FormInfo {
  width: 100%;
}

.FormInfo h4 {
  font-weight: 500;
  color: #484844;
  margin-bottom: 15px;
  display: block;
}

.Input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.w25 {
  width: 25%;
  display: inline-flex;
  box-sizing: border-box;
  padding-left: 5px;
  vertical-align: bottom;
}

.w50 {
  width: 50%;
  display: inline-flex;
  box-sizing: border-box;
  vertical-align: bottom;
}

.Input label {
  color: gainsboro;
  font-size: 14px;
  margin-bottom: 3px;
}

.Input input,
.Input select {
  padding: 8px 15px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 16px;
  color: #484848;
  outline: none;
}

.ErrorInput {
  border:1px solid #ff0303 !important;
  background: beige;
}

.ErrorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

:disabled {
  background: #dddddd;
}